spring.datasource.url=jdbc:mysql://localhost/customer_test?useUnicode=true&characterEncoding=UTF8
spring.datasource.username=cyanca
spring.datasource.password=5319384253

endpoints.enabled=false
endpoints.jmx.unique-names=true